

If something isn't working, please <a onclick="showLogs()">Show me the logs</a>        
<div id="logparent">
    <button onclick="copyLogs()">Copy logs to clipboard</button>
    <button onclick="downloadLogs()">Get logs to file</button>
    <div id="LOGDIV">
    </div>
</div>

<script>


function setLog(logDiv)
{
    let getLineFromStack=function(stack) 
    {
        var suffix = stack.split('\n')[2];
        if(suffix)
        {
            if (suffix.indexOf(' (') >= 0) {
                suffix = suffix.split(' (')[1].substring(0, suffix.length - 1);
            }
            else if(suffix.indexOf('at ')>=0){
                suffix = suffix.split('at ')[1];
            }else if(suffix.indexOf('@')>=0)
            {
                suffix=suffix.split('@')[1];                
            }
            if(suffix)
            {
                if(suffix.lastIndexOf('/')>=0)
                {
                    suffix = '@' + suffix.substr(suffix.lastIndexOf('/') + 1);
                }
            }
        }
        if(!suffix)
        {
            return "@ wasm";
        }
        return suffix;
    };
    let getCallerLineNumber=function(err)
    {
        var line;

        // Firefox
        if (err.fileName && err.lineNumber) {
            line=err.fileName.substr(err.fileName.lastIndexOf('/') + 1) + ':' + err.lineNumber + ':1';
        }
        // Chrome/WebKit
        else if (err.stack) {
            line=getLineFromStack(err.stack);
        }
        return line;

    };
    let addLog=function (arguments, array) {
        var s="";
        for(let i in arguments)
        {
            s+=arguments[i]+" ";
        }
        s+="\n";
        logDiv.appendChild(document.createTextNode(s));
    };



    let origConsole=window.console;
    let isDebug=true;
    if(!origConsole)
    {
        origConsole=console;
    }
    var logger={
        logArray:[],
        log: function (...theArgs) {
            theArgs.push(getCallerLineNumber(new Error()));            
            addLog(theArgs, "logs");
            isDebug && origConsole.log && origConsole.log.apply(origConsole, theArgs);
        },
        warn: function (...theArgs) {
            theArgs.push(getCallerLineNumber(new Error()));            
            addLog(theArgs, "warns");
            isDebug && origConsole.warn && origConsole.warn.apply(origConsole,theArgs);
        },
        error: function (...theArgs) {
            theArgs.push(getCallerLineNumber(new Error()));            
            addLog(theArgs, "errors");
            isDebug && origConsole.error && origConsole.error.apply(origConsole, theArgs);
        },
        info: function (...theArgs) {
            theArgs.push(getCallerLineNumber(new Error()));            
            addLog(theArgs, "infos");
            isDebug && origConsole.info && origConsole.info.apply(origConsole, theArgs);
        },
        debug: function (debugEnabled) {
            isDebug = debugEnabled;
        },


  
    };
    window.console=logger;    
}

setLog(document.getElementById("LOGDIV"));

function showLogs()
{
    var logDiv=document.getElementById("logparent");
    if(logDiv.style.display!="block")
    {
        logDiv.style.display="block";
    }else
    {
        logDiv.style.display="none";
    }
}

function copyLogs()
{
    var range = document.createRange();
    range.selectNode(document.getElementById("LOGDIV"));
    window.getSelection().removeAllRanges(); // clear current selection
    window.getSelection().addRange(range); // to select text
    document.execCommand("copy");
    window.getSelection().removeAllRanges();// to deselect
}

function downloadLogs()
{
    var text=document.getElementById('LOGDIV').textContent;
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', "spits_log.txt");

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}

</script>