  <!-- create categories array-->
  {% assign categories_array = "" | split:"|" %}

  <!--Add each unique 'my_collection' category to the array-->
  {% for lesson in site.lessons %}
    {% assign slashes = lesson.url | split: '/'| reverse %}
    {% if slashes[2]=='lessons' %}
        {% assign category = slashes[1] | replace: '_',' ' %}
        {% assign categories_array = categories_array | push: category | uniq %}
    {% endif %}
  {% endfor %}


  {% assign page_next = "" %}
  {% assign page_prev = "" %}

  {% for category in categories_array %}
    {% assign prev = "" %}
    {% for lesson in site.lessons %}
        {% assign slashes = lesson.url | split: '/'| reverse %}
        {% if slashes[2]=='lessons' %}            
            {% assign page_cat = slashes[1] | replace: '_',' ' %}
            {% if page_cat==category %}
                {% if prev==page.url %}
                  {% assign page_next=lesson.url %}
                {% endif %}
                {% if lesson.url == page.url %}
                    {% assign page_prev=prev %}
                {% endif %}  
                {% assign prev = lesson.url %}
            {% endif %}  
        {% endif %}  
    {% endfor %}
{% endfor %}
