<div class="navbuttons">
    <div>
    {% if page_prev!="" %}
    <a class='prevbutton' href="{{page_prev | relative_url }}">&lt; Prev</a>
    {% endif %}
    </div> 
    <div>
    {% if (page.url  | absolute_url)  != ("/index.html" | absolute_url)  %}
    <a class='upbutton' href='{{ "/index.html" | relative_url }}'>Index</a>
    {% endif %}
    </div>
    <div>
    {% if page_next!="" %}
    <a class='nextbutton' href="{{ page_next | relative_url }}">Next &gt;</a>
    {% endif %}
    </div>
</div>
{% if (page.url  | absolute_url)  != ("/scratchpad.html" | absolute_url)  %}
<div class="scratchbutton">
<a href="{{ '/scratchpad.html'|relative_url}}">Go to coursework 2 scratchpad</a>
</div>
{% endif %}
