<script language="javascript" type="module">

function savePosition()
{
    window.sessionStorage.setItem("SCROLLY",window.scrollY);
}
function resetPosition()
{
    let scrollPos=window.sessionStorage.getItem("SCROLLY");
    if(scrollPos)
    {
        window.scroll(window.scrollX,scrollPos);
    }
}

// after all loading reset scroll position
window.addEventListener("pythonboxesmade",resetPosition);
// on leave page, save scroll position
window.addEventListener("beforeunload",savePosition);
</script>