---
---
/* copied tactile theme across to change code style */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400');
//@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400');
//@import url('https://fonts.googleapis.com/css?family=Chivo:900');

// colours
$main-bg:#e7e7e7;
$dark-accent:#855;
$light-accent:#e88;
$pale-accent:#a88;
$table-even-columns:#ffe7e7;
$table-odd-columns:#fff3f3;
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
  color:#000;
}

/* LAYOUT STYLES */
body {
  font-family: 'Bitter','Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6d6d6d;
//  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: $main-bg url(../images/body-bg.png) 0 0 repeat;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px; font-weight: 400;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

header h2 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

#container {
  min-height: 595px;
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  display: block;
  float: left;
  width: 179px;
  padding: 12px 8px 12px 8px;
  margin-right: 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #303030;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
a.button:hover {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(to top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
}

a.button span {
  display: block;
  height: 23px;
  padding-left: 50px;
}

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: auto;
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
}
pre code {
  padding: 0;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  padding-bottom: 1em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;

}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  color: #303030;
}

h3 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #d5000d;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #303030;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
  ul li {
    margin-left: 10px;
    padding-left: 10px;
  }
  ol li {
    margin-left: 10px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }


// mobile things - don't display 'scan me'
// and hide navbar by default
// make content sit in middle but shrink rather
// than wrap the 'open navigation' button
@media only screen and (max-width: 120ch) {
    .desktoponly {
       display:none;
    }
    .sidebar_opener
    {
        display:inherit;
    }
    .sidebar
    {
        display:flex;
        align-items:stretch;
        align-self:flex-start;
        position:fixed;
        left:0px;
        top:0px;
        bottom:0px;
        z-index:1;
        height:100vh;
        overflow-y:hidden;
    }
    .sidebar_content
    {
        background-color:$main-bg;
        height:100%;
        width:fit-content;
        overflow-y:auto;
    }
    .sidebarhidden
    {
        display: none;
    }
    
    .centrebar
    {
        padding-left:3ch;
    }
    .sidebar_open_button::before
    {
        content:"Navigation";
    }

    .sidebar_open_button
    {
        background-color: rgba(#000,.5);
        color:#fff;
        font-size:150%;
        margin-top:4ch;
        padding-bottom:2ch;
        padding-top:2ch;
        padding-left:.5ch;
        padding-right:.5ch;
        border-radius:.5ch;
        writing-mode: vertical-rl;
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
 //       background-color:rgba($main-bg,.5);
        //transform:rotate(90deg);
        //transform-origin:bottom left;
    }
    .flexer
    {
        margin-left:1ch;
    }
    .sidebar_content
    {
        width:20ch;
    }
    .flexer
    {
        flex-wrap:None;
    }
    

}



.navbuttons
{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 1ch 0;
}

.navbuttons>div>a
{
    background-color:$dark-accent;
    color:#fff;
    padding:.5ch 2ch;
}

.navbuttons>div>a:hover
{
    background-color:$light-accent;
}


.sidebar>h1
{
    display:block;
}

.sidebar_nav
{
}

ol.sidebar_nav_category
{
    list-style-position: inside;
    list-style:upper-latin;
    background-color:#cccccc;
    border-radius:5px;
    border-width:2px;
    border-color:#aaaaaa;
    border-style:solid;
    padding:5% 0;
}

li.sidebar_nav_category
{
    color:#000;
}
 

.sidebar_nav_lesson
{
    list-style-type: none;
}

.sidebar_nav_selected
{
    display:block;
    width:100%;
    background-color:$dark-accent;
    color: #fff;
    margin:0;
    border-bottom:1px solid #888;
    border-top: 1px solid #888;
}

.sidebar_nav_selected>a
{
    background-color:$dark-accent;
    color: #fff;
}

.sidebar_nav_link
{
    display:block;
    width:100%;
    background-color:#fff;
    color: $dark-accent;
    margin:0;
    border-bottom:1px solid #888;
    border-top: 1px solid #888;
}

.sidebar_nav_link>a
{
    background-color:#fff;
    color: $dark-accent;
}

.flexer
{
    text-shadow:0 0;
    background-color:$main-bg;
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.sidebar
{
    flex-basis:20ch;
    flex-grow:0;
    flex-shrink:0;
}


.centrebar
{
    background: $main-bg;
    flex-basis: 80ch;
    flex-grow: 1;
//    flex-shrink:1;
    justify-content:center;
}
.inner
{
    padding: 1em;
    color:#000;
    background-color:$main-bg;
    background-image: none;
    border-left:1px #dddddd solid;
    border-right:1px #dddddd solid;
}

#pageheader
{
    width:100%;
    overflow: hidden; white-space:nowrap;
    color:$pale-accent;
}

blockquote
{
    border-left-color:$dark-accent;
    background-color:#fff;
    font-size:100%;
}

details
{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;

    text-shadow:0 0;
    display:block;
    background-color:#eaa;
    color:#000;
    margin-top:2%;
    margin-bottom:2%;

};

.replay_box
{
  margin-top:.5em;
  border: 2px solid #000;
  border-radius: 4px;
  padding: .5em;
  background-color:#fff;
  width:100%;
}

.replay_filename::before
{
  content:"Replay CSV File:";
  display: inline-block;
  text-emphasis:bold;
  font-variant:small-caps;
}

.python_filename::before
{
  content:"Python File:";
  display: inline-block;
  text-emphasis:bold;
  font-variant:small-caps;
}


.pyodide_box
{
    width:100%;
};

.pyodide_console
{
    font-family: monospace;
    width: 100%;
    height: 10em;
    resize: vertical;
    background-color: #000;
    color: #fff;
    white-space:pre-wrap;
    overflow-y:scroll;
    overflow-wrap: break-word;
};

.pyodide_graph
{
    display:block;
    width: 100%;
    height: 100%;
    background-color: #eef;
}

.pyodide_graph_owner
{
  display:block;
  width:100%;
  height:10em;
  resize:vertical;
  overflow:hidden;
}

.pyodide_code_readonly
{
    font-family: monospace;
    width: 100%;
    height: 10em;
    resize: vertical;
    background-color: #fff;
    color: #000;
    white-space:pre-wrap;
    overflow-y:scroll;
    
};

.pyodide_dropzone
{
    width:100%;
    border: 2px solid #000;
};

.pyodide_dropzoneactive
{
    width:100%;
    border: 2px solid #00f;
    background-color: #bbf
};



.cm-editor.cm-focused { outline: 2px solid red }
.cm-editor { background-color:white;max-height: 80vh; border: 1px solid silver; font-size: 14px }
.cm-scroller {     resize: vertical;
    overflow-y:scroll;
 }
 .cm-activeLine{background-color:#fee;}
.pyodide_code {background-color:#fff;}
.cm-selectionLayer .cm-selectionBackground ::selection {background:#f00;}



summary
{
    margin-bottom:.5em;
    border: 1px solid #0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color:#fff;
    display:list-item;
    background-color:#766;

};

figure
{
    margin-top:.5em;
    border: 2px solid #000;
    border-radius: 4px;
    padding: .5em;
    background-color:#fff;
}

body {
	counter-reset: caption_number;
}

figcaption {
    counter-increment:caption_number;
}

figcaption::before{
    content: 'Figure ' counter(caption_number) '. ';
}

figcaption
{
    font-weight: bold;
    background-color:#eee;
    padding-left: .5em;
    padding-right: .5em;
}

ul li
{
    list-style-type:"\25CB"; 
    margin-left: 1em;
}

li ul li
{
    list-style-type:"-"; 
}

ul
{
}

li ul
{
    padding-top: .5em;
    margin-bottom:0;
}

img
{
    width:100%;
}

ol li
{
    margin-left: 1em;
}

.reminder:first-of-type::before
{
    content: "Remind yourself (think then click to open)";
}

.reminder::before
{
    content:"Reminder";
    text-emphasis:bold;
    font-variant:small-caps;

}

.question:first-of-type::before
{
    content: "Question (think then click to open)";
}

.question::before
{
    content: "Question";
    text-emphasis:bold;
    font-variant:small-caps;

}

.sidebarhidden
{
    display: visible;
}


.sidebar_opener
{
    flex-basis:2ch;
    flex-grow:0;
    flex-shrink:0; 
}

.language-mermaid
{
    background:white;
}
.mermaid_block
{
    background:white;
    color:#000;
}


.arrowline{
    margin-left: 0.5ch;
    width: 1ch;
    background: blue;
    height: 90px;
  }
  

.arrowdowncell
{
    background-image:url({{'/images/arrowdown.svg'|relative_url}});
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}

table
{
    border:0;
    background-color: #ffffff;
}
th
{
    border-bottom:.25ch solid #000;    
    border-left:.5ch solid #ffffff;
    border-right:.5ch solid #ffffff;
}
td
{
    border-left:.5ch solid #ffffff;
    border-right:.5ch solid #ffffff;
    border-bottom: .25ch solid #ffffff;
}

th:nth-last-child(even), td:nth-last-child(even)
{
    background-color: $table-even-columns;
}

th:nth-last-child(odd), td:nth-last-child(odd)
{
    background-color: $table-odd-columns;
}

table.truthtable
{
  background-color:rgba(#000,0);
  border-left:0px;
  border-right:0px;

  td,th
  {
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    border-top:0px;
  }
  tr:nth-child(1)
  {
    td:nth-child(1)
    {
      background-color:rgba(#000,0);
      border-left:0px;
      border-bottom:0px;
      border-right:0.25ch black solid;
    }
    td:nth-child(2)
    {
      background-color:#fff;
    }
  }
  tr:nth-child(2)
  {
    th{    
      background-color:#fff;
    }
    th:nth-child(2)
    {
      background-color:$table-even-columns;
    }
    th:nth-child(3)
    {
      background-color:$table-odd-columns
    }
  }
  tr:nth-child(3)>td:first-child
  {
    border-left:0px;
    background-color: $table-even-columns;
  }
  tr:nth-child(4)>td:first-child
  {
    border-left:0px;
    background-color: $table-odd-columns;
  }


  td:first-child,  th:first-child
  {
    border-left:0px;
    border-right:0.25ch black solid;
  }
  td:nth-child(2),  th:nth-child(2)
  {
    border-left:0px;
  }  

  tr:nth-child(n+2)>td:nth-child(n+2)
  {
    background-color:#c08080
  }
  tr:nth-child(3)>td:nth-child(2)
  {
    background-color:#80c080
  }
  
  tr:nth-child(4)>td:nth-child(3)
  {
    background-color:#80c080
  }
    
}






span.nextfig::before{
    counter-increment: caption_number;
    content: counter(caption_number);
}
span.nextfig::after
{
    content:"";
    counter-increment:caption_number -1;
}

pre code
{
    color:#222;
    background-color:#f8f8f8;
}

.scratchbutton
{
  width:100%;
  text-align:center;
}

.scratchbutton>a
{
  background-color:$dark-accent;
  color:#fff;
  padding:.5ch 2ch;
}

.scratchbutton>a:hover
{
  background-color:#f88;
}


#logparent
{
  display: none;  
}

#LOGDIV
{
  width:100%;
  white-space:pre;
  font-family:Courier;
  overflow-x:scroll;
  overflow-y:scroll;
}

button,
{
  border-radius:.5ch;
  padding:.5ch;
  border:.5ch solid #700;
  background-color: #700;
  color:#fff;
  margin-right:1ch;
}
button:hover
{
  background-color: #a66;
  border:.5ch solid #a66;
}

button:disabled
{
  background-color: #666;
  border:.5ch solid #666;
}

input[type="checkbox"]{
  width: 2ch;
  height: 2ch;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 0.2ch solid $light-accent;
  padding:.5ch;

}


input[type="checkbox"]:after
{
display:flex;
line-height:100%;
width: 100%;
text-align: center;
vertical-align: middle;
justify-content:center;
content:"\00a0\00a0";
}

input[type="checkbox"]:checked:after
{
display:flex;
line-height:100%;
width: 100%;
text-align: center;
vertical-align: middle;
justify-content:center;
content:"✔"
}

input[type="checkbox"]:hover
{
background-color:#a44;
}

input[type="checkbox"]:disabled
{
background-color:#666;
}


label
{
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  margin-right:1ch;
}

.switcher
{
  width:100%;
  display:flex;
}
.switcher>button
{
  width:100%;
  background-color:black;
  color:white;
}
.switcher>button:disabled
{
  width:100%;
  background-color:white;
  color:black;
}

.dialogbackground
{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

.filedialog
{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.filedialog::before
{
  content:"Choose file name:";
  text-emphasis:bold;
  font-variant:small-caps;
  display:block;
}

.dialogclose 
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  :hover, :focus
  {
    color: black;
    text-decoration: none;
    cursor: pointer;  
  }
}

.dialogFolderName::before
{
  content:"Folder:";
  margin-right:1ch;
}
.dialogFolderName
{
  display:block;
  margin-right:2ch;
  margin-bottom:.5ch;
}



// github code highlighting style because it is nice and clear
{% include_relative highlight-github.css %}
