---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js"></script>
    <script>
      window.addEventListener("load",()=>{
        let mermaid_blocks=document.querySelectorAll('pre > code[class=language-mermaid]');
        mermaid_blocks.forEach((x)=>{x.parentNode.className="mermaid_block"});
        window.mermaid.init(undefined, mermaid_blocks);
      });
      </script>


{% seo %}

{% if page.uses_pyodide %}
{% include pyodide_box.html %}
{% endif %}
{% if page.uses_maths %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
{% endif %}

<script src="https://cdn.jsdelivr.net/gh/englishextra/qrjs2@0.1.8/js/qrjs2.min.js"></script>

  </head>

  <body>

    <div class="flexer">
      <div id="emptysidebar" class="sidebar">
      </div>

      <div class="centrebar"> 
        <div class="inner">
          <header class="inner">
            <h2 id="pageheader">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
            <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
            </header>      
            {% include find_next.html %}    
            {% include navbuttons.html %}
        </div>
    </div>
  </div>
  
<div class="flexer">
  <div id="sidebar_parent" class="sidebar">
    <div class="sidebar_content sidebarhidden" id="sidebar_content">
      <h1 class="desktoponly">Navigation</h1>
      {% include list_lessons.html %}    

      <div class="desktoponly">
        Scan this QR code to load the page on mobile:
        <script>
        var dataUriPngImage = document.createElement("img");
          u = window.location.href;
          s = QRCode.generatePNG(u, {
              ecclevel: "M",
              format: "html",
              fillcolor: "#ffffff",
              textcolor: "#000000",
              margin: 4,
              modulesize: 8
            });
          dataUriPngImage.src = s;
          dataUriPngImage.style="width:100%"
          let script = document.scripts[document.scripts.length - 1]; // A reference to the currently running script

          script.parentNode.insertBefore(dataUriPngImage,script);
        </script>
      </div>
    </div>
    <div class="sidebar_opener">
      <div class="sidebar_open_button" onclick="showNavigation()"></div>
    </div>  
  </div>  

  <div id="content" class="centrebar">
      <div class="inner">
    
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        {% include navbuttons.html %}
        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
          Source code at <a href="{{ site.github.repository_url }}">{{site.github.repository_url}}</a>
          <br>
        {% endif %}
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </div>
  </body>
</html>

